@font-face {
  font-family: SatoshiBold;
  src: url('fonts/satoshi-bold-webfont.woff2') format('woff2'),
    url('fonts/satoshi-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: SatoshiRegular;
  src: url('fonts/satoshi-regular-webfont.woff2') format('woff2'),
    url('fonts/satoshi-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --base: 5rem;
  --font-size: clamp(2rem, 10vw, 8rem);
}

html {
  font-size: 100%;
  font-family: SatoshiBold, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
}

html:focus-within {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: #faffeb;
  color: #0d0d0d;
  line-height: 1.2;
  margin: 0;
  min-height: 100vh;
}

.main_container {
  margin: auto;
  position: relative;
  width: min(90vw, 1440px);
}

header {
  align-content: center;
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  padding-top: 0.4em;
  width: 100%;
}

.site_info {
  color: #1a1a1a;
  font-family: SatoshiRegular, Arial, sans-serif;
  font-size: 0.8rem;
  line-height: 1.05;
  position: relative;
  text-align: end;
  width: 16ch;
}

ol {
  hyphens: auto;
  margin-top: 3rem;
  overflow-wrap: break-word;
}

li {
  margin-bottom: 16px;
  width: fit-content;
}

h2 {
  font-size: var(--font-size);
  letter-spacing: -0.05em;
  cursor: pointer;
}

.visited {
  color: #f35b04;
}

.nav_text {
  display: inline-block;
  position: relative;
  transition: 0.6s ease;
  transition-delay: 0.2s;
}

.nav_text::before {
  content: attr(data-content);
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: width 0.8s cubic-bezier(0.3, 0.73, 0.27, 0.97);
  width: 0;
}

.nav_text::before {
  color: #f35b04;
}

.nav_text:hover {
  border-style: none;
  color: #f35b04;
  outline: none;
}

.nav_text:focus::before,
.nav_text:hover::before {
  width: 100%;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}
